@using KPWebApp.WebUI.Controllers
@{
    ViewBag.Title = "Пошук";
    Layout = "~/Views/Shared/_PostsLayout.cshtml";
}


<div class="container">
    <div id="signupbox" style="display: block; margin-top: 50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="form-group">
                    <label for="sel1">Виберіть ключ пошуку:</label>
                    @{Html.RenderAction("YearsOfGraduation");}
                </div>
                <div class="">
                    <table class="table table-striped" align="center" id="graduates">
                        <th>Випускник</th>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
