@{
    ViewBag.Title = "Admin: Редагування";
    Layout = "~/Views/Shared/_PostsLayout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <font size="4">
    <ul class="nav-list row span6">    
        <li class="list-group-item">@Html.ActionLink("Статті", "ListOfPosts", "Admin")</li>
        <li class="list-group-item">@Html.ActionLink("Дані про випускників", "ListOfAllUsers", "Admin")</li>
        <li class="list-group-item">@Html.ActionLink("Дані про викладачів", "ListOfTeachers", "Admin")</li>
        <li class="list-group-item">@Html.ActionLink("Змінити пароль", "ChangePassword", "Admin")</li>
    
    </ul>
</font>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
