@model KPWebApp.WebUI.Models.UserProfileViewModel

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            @if (Model.Photos!=null && Model.Photos.Any())
            {

                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Photos.Count(); i++)
                        {
                            if (i == 0)
                            {
                            <div class="item active">
                                <img class="img-responsive img-full" src="@Url.Action("GetImage", "Personal", new { imageId = Model.Photos.ToList()[i].PhotoId, username = Model.Username })" alt="">
                            </div>
                            }
                            else
                            {
                            <div class="item">
                                <img class="img-responsive img-full" src="@Url.Action("GetImage", "Personal", new { imageId = Model.Photos.ToList()[i].PhotoId, username = Model.Username })" alt="">
                            </div>
                            }

                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            }
            <h2 class="brand-before">
                <small>Вітаю</small>
            </h2>
            <h1 class="brand-name">@Model.FullName</h1>
            <hr class="tagline-divider">
            <h2>
                <small>
                    <strong>@Model.Status</strong>
                </small>
            </h2>
        </div>
    </div>
</div>
@foreach (var post in Model.Posts)
{
    Html.RenderPartial("PostView", post);
}
